.conteudo {
    background-color: #005cbf;
    padding: 20px 30px;
}

.leftcolumn {
    float: left;
    width: 75%;
}


.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}